[submodule "vowel-demo"]
	path = vowel-demo
	url = https://github.com/Naturseptime/vowel-demo
	branch = main
[submodule "spectrogram"]
	path = spectrogram
	url = git@github.com:Naturseptime/spectrogram.git
